<div class="m-0">
    <div>
        <div>
            <h3>Porfolio</h3>
        </div>

        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae repudiandae magni saepe deserunt quo, cumque quisquam a voluptatibus iure architecto minima sunt modi vitae! Molestiae, sequi! Facilis, illum magnam?
            </p>

            <div class="row d-flex justify-content-center align-items-center m-0">
                
                <div class="col-sm-12 col-md-4 d-flex justify-content-center p-1">
                    <div class="overflow-hidden alto rounded d-flex justify-content-center align-items-center">
                        <img src="/website/assets/img/fotoBreakingBad1.jpeg" alt="" class="object-fit-cover d-block mx-auto" width="750px" width="400px">
                    </div>
                </div> 

                

                <div class="col-sm-12 col-md-4 d-flex justify-content-center p-1">
                    <div class="overflow-hidden alto rounded d-flex justify-content-center align-items-center ">
                        <img src="/website/assets/img/fotobreakingBad2.jpeg" alt="" class=" object-fit-cover d-block mx-auto mt-5" width="750px" height="400px">
                    </div>
                </div>   

                <div class="col-sm-12 col-md-4 d-flex justify-content-center p-1">
                    <div class="overflow-hidden alto rounded d-flex justify-content-center align-items-center">
                        <img src="/website/assets/img/fotoBreakingBad3.jpeg" alt="" class="object-fit-cover d-block mx-auto mt-5" width="750px" height="400px">
                    </div>
                </div>  


         clea
            </div>
        </di>
    </div>

</div>