<div class="m-0 p-5" id="portfolio">
    <div>
        <div>
            <h3>Porfolio</h3>
        </div>

        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae repudiandae magni saepe deserunt quo, cumque quisquam a voluptatibus iure architecto minima sunt modi vitae! Molestiae, sequi! Facilis, illum magnam?
            </p>

            <div class="row d-flex justify-content-center align-items-center  m-0">
                
                <div class="col-sm-12 col-md-4 d-flex justify-content-center flex-column h-auto p-1">
                    <div class="overflow-hidden alto rounded d-flex justify-content-center  align-items-center">
                        <img src="/website/assets/img/fotoBreakingBad1.jpeg" alt="" class="object-fit-cover d-block mx-auto " width="750px" width="400px">
                    </div>
                    <div>
                        <h4 class="p-0 m-0">Heisenberg</h4>
                        <p class="p-0 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia corporis sint qui error, optio, placeat praesentium ipsa laborum deserunt recusandae harum sit sunt. In minus incidunt nisi porro sapiente?</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 d-flex justify-content-center flex-column h-auto p-1">
                    <div class="overflow-hidden alto rounded d-flex justify-content-center  align-items-center">
                        <img src="/website/assets/img/fotobreakingBad2.jpeg" alt="" class="object-fit-cover d-block mx-auto " width="750px" width="400px">
                    </div>
                    <div>
                        <h4 class="p-0 m-0">Heisenberg</h4>
                        <p class="p-0 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia corporis sint qui error, optio, placeat praesentium ipsa laborum deserunt recusandae harum sit sunt. In minus incidunt nisi porro sapiente?</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 d-flex justify-content-center flex-column h-auto p-1">
                    <div class="overflow-hidden alto rounded d-flex justify-content-center  align-items-center">
                        <img src="/website/assets/img/fotoBreakingBad3.jpeg" alt="" class="object-fit-cover d-block mx-auto " width="750px" width="400px">
                    </div>
                    <div>
                        <h4 class="p-0 m-0">Heisenberg</h4>
                        <p class="p-0 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia corporis sint qui error, optio, placeat praesentium ipsa laborum deserunt recusandae harum sit sunt. In minus incidunt nisi porro sapiente?</p>
                    </div>
                </div>


            </div>
    </div>
    </div>

</div>






