<div class="m-0 p-5">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="overflow-hidden claseCssSergio">
                <img src="/website/assets/img/1.jpg" alt="" class="object-fit-cover" width="400px" height="400px">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column">
                <h4>Walter White</h4>
                <p>De un frustrado entrañable a un despiadado capo
 El frustrado profesor de química Walter White (Bryan Cranston), junto con su exalumno Jesse Pinkman (Aaron Paul), comienza a fabricar metanfetamina. Tras serle diagnosticado un cáncer de pulmón en fase terminal, White decide recurrir a cualquier medio para asegurar el futuro económico de su familia después de su muerte. Sin embargo, el negocio de las drogas pronto se le escapa de las manos. Eso sí: el nuevo estilo de vida empieza a gustarle... y mucho.</p>
            </div>
            
            
        </div>

    </div>
</div>